.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}
.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}
.navbar li {
  margin: 0 2rem;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s;
}
.navbar a:hover {
  color: #ffd700;
}
