.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
.section-content {
  padding: 2rem 3rem;
  border-radius: 1rem;
  max-width: min(90vw, 960px);
  position: absolute;
  pointer-events: auto;
}
.section h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
